*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header
{
    height: 100vh;
    width: 100%;
    padding: 25px 25px;
    background: radial-gradient(#fff,#ffd6d6);
}

nav
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 3px;
}
.nav-links ul li
{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    position: relative;
}
.nav-links ul li a
{
    text-decoration: none;
    color: black;
}
.nav-links ul li .fa
{
    font-size: 16px;
}
.nav-links ul li a::after
{
    content:'';
    display: block;
    width: 0%;
    height: 2px;
    background: red;
    transition: 0.5s;
}
.nav-links ul li a:hover::after
{
    width: 100%;
}
.inside-li
{
    display: flex;
}
.inside-li .fa
{
    margin-top: 5px;
}
#fauser, #fahelp
{
    margin-right: 5px;
}
#fadown1, #fadown2
{
    margin-left: 3px;
    font-size: 14px;
}
#facart
{
    font-size: 16px;
    margin-right: 5px;
}

/*--account submenu--*/
.acc
{
    position: relative;
}
.acc-submenu
{
    display: none;
    position: absolute;
    width: 150px;
    background: radial-gradient(#fff,#ffd6d6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 10px;
}
#submenu-2
{
    width: 195px;
}
.acc-submenu ul
{
    margin: 10px 0 10px 15px;
}
.acc:hover .acc-submenu
{
    display: block;
}
.acc-submenu ul li a
{
    font-size: 15px;
}

#ttl
{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
#ttl2
{
    color: red;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.count-badge
{
    height: 3px;
    background: #ff523b;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
    padding: 0px 5px 0 5px;
    font-size: 14px;
}
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img
{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1
{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}
.btn
{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover
{
    background: #563434;
}
.categories
{
    margin: 70px 0;
    
}
.container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px; 
    padding-right: 20px;
}
.col-4
{
    flex-basis: 23%;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.col-4 img
{
    width:95%;
    height: 300px;
}
.title
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    
}
.title::after
{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4
{
    color: #555;
    font-weight: normal;
}
.col-4 p
{
    font-size: 14px;
}
.rating .fa
{
    color: #ff523b;
}
.col-4:hover
{
 transform: translateY(-5px);
}

/*-----products nav----*/
#products-nav
{
    margin: 25px 25px; 
}
/*------offer-----*/
.offer
{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img
{
    padding: 50px;
}
small
{
    color: #555;
}
.col-3
{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
/*-- help --*/
.help
{
    margin: 50px 0 50px 20%;
}
.help ul
{
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 10px;
}
.help h3
{
    color: #f44336;
    margin-bottom: 15px;
}
.help ul li
{
    font-size: 16px;
}
#paym
{
    margin-bottom: 10px;
}
#help2
{
    margin-bottom: 100px;
}
.return-p p
{
    margin-bottom: 10px;
}
/*-- size charts --*/
.size-chart
{
    margin: 50px 200px;
}
.size-chart-box
{
    display: flex;
}
.sc-box1, .sc-box2
{
    width: 100%;
} 
.sc-box1 img
{
    width: 100%;
    height: 350px;
}
.sc-box2 img
{
    width: 100%;
    height: 350px;
}
#sc-go-back
{
    padding: 5px 8px;
    background: #f44336;
    color: #fff;
    border: 1px solid #f44336;
    border-radius: 3px;
}
/*---messagesinfo styling---*/
#errors
{
    color: #ff523b;
    margin-left: 100px;
    margin-bottom: 5px;

}

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3
{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img
{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left
{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p
{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3
{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------Brands----*/
.brands
{
    margin: 100px auto;
}
.col-5
{
    width: 160px;
}
.col-5 img
{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover
{
    filter: grayscale(0);
}

/*----footer---*/
.footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p
{
    color: #8a8a8a;
}
.footer h3
{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 20px;
    margin-bottom: 20px;
}
.footer-co-1
{
    flex-basis: 30%;
}
.footer-col-2
{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2 img
{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4
{
    flex-basis: 12%;
    text-align: center;
}
ul
{
    list-style-type: none;
}
.app-logo
{
    margin-top: 20px;
    
}
.app-logo img
{
    width: 140px;
}
.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright
{
    text-align: center;
}

/*-----all products------*/
.row-2
{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select
{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus
{
    outline: none;
}
.page-btn
{
    margin: 0 auto 80px;
}
.page-btn span
{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover
{
    background: #ff523b;
    color: #fff;
}

.loginbox
{
    width: 320px;
    height: 420px;
    background: #fff; 
    color: #fff;
    top: 60%;
    left: 75%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);

}
.loginbox h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #000;
}
form
{
    padding: 0px 30px;
    width: 100%;
}
.loginbox p
{
    margin-bottom: 3px;
    padding: 0;
    font-weight: bold;
    color: #000;
}
.loginbox input
{
    margin-bottom: 20px; 
    border-radius: 5px;
}
.loginbox input[type="email"], input[type="password"], input[type="text"]
{
    border: 1px solid #222;
    height: 27px;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #000;
    color: #fff;
}
.loginbox a
{
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: darkblue;
}
/*---image slider---*/
.rotate
{
    width: 100%;
    min-height: 50vh;
    background: currentColor;

}
.swiper
{
    width: 90%;
    height: auto;
}
.swiper-slide img
{
    width: 100%;
}
.menu-icon
{
    width: 28px;
    margin-left: 20px;
}
#hidden1, #hidden2
{
    display: none;

}

/*---media query for menu----*/
@media(max-width: 700px)
{
    .col-2 h1
    {
        font-size: 30px;
        line-height: 40px;
    }
    .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li a
    {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }
    nav .fa
    {
        display: block;
        color: currentColor;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul
    {
        padding: 30px;
    }
}













