{% load static %}
{% load cart_template_tag %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" width=device-width, initial-scale=1.0>
    <title>Mooneystore Products</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav id="products-nav">
    <div class="logo">
        <p id="ttl">AFRIC<span style="color: #000;">ANA</span><i class="fa fa-leaf"></i></p>
    </div>
    </div>
    <div class="nav-links">
        <ul>
        <li><a href="{% url 'Core:main' %}">Home</a></li>
        <li><a href="{% url 'Core:productslistview' %}">Products</a></li>
        {% if user.is_authenticated %}
            <li class="acc"><div class="inside-li"><i class="fa fa-user" id="fauser"></i><a href="about.html">Hi, {{user.username}}</a><i class="fa fa-chevron-down" id="fadown1"></i></div>
            <div class="acc-submenu">
                <ul>
                    <li><a href="">My Account</a></li>
                    <li><a href="">Orders</a></li>
                    <li><a href="">Saved Items</a></li>
                    <li><a href="{% url 'Authentication:custom_logout' %}">Log Out</a></li>
        
                </ul>
            </div>
        </li>
        {% else %}
            <li class="acc"><div class="inside-li"><i class="fa fa-user" id="fauser"></i><a href="about.html">Account</a><i class="fa fa-chevron-down" id="fadown1"></i></div>
                <div class="acc-submenu">
                    <ul>
                        <li><a href="">My Account</a></li>
                        <li><a href="">Orders</a></li>
                        <li><a href="">Saved Items</a></li>
                        <li><a href="{% url 'account_login' %}">Sign In</a></li>
            
                    </ul>
                </div>
            </li>
        {% endif %}
        <li class="acc"><div class="inside-li"><i class="fa fa-question-circle" id="fahelp"></i><a href="contact.html">Help</a><i class="fa fa-chevron-down" id="fadown2"></i></div>
            <div class="acc-submenu" id="submenu-2">
                <ul>
                    <li><a href="{% url 'Core:help-orderplacement' %}">Placing an Order</a></li>
                    <li><a href="{% url 'Core:help-payments' %}">Payments</a></li>
                    <li><a href="{% url 'Core:help-returns' %}">Return and Refunds</a></li>
                </ul>
            </div>
        </li>
        <li><a href="{% url 'Core:order-summary' %}"><span class="count-badge">{{ request.user|cart_item_count }}</span><i class="fa fa-shopping-cart" id="facart"></i>Cart</a></li>
        </ul>
    </div>
    </nav>

    <section class="size-chart">
        <div class="size-chart-box">
            <div class="sc-box1">
                <img src="{% static 'images/men-size-chart.png' %}">
            </div>
            <div class="sc-box2">
                <img src="{% static 'images/women-size-chart2.jpg' %}">
            </div>
        </div>
        <a href=""><button id="sc-go-back">Go Back</button></a>
    </section>
    
    

<!--footer-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and IOS mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static 'images/play-store.png' %}">
                    <img src="{% static 'images/app-store.png' %}">
                </div>
            
            </div>
            <div class="footer-col-2">
                <p id="ttl2">AFRIC<span style="color: #fff;">ANA</span><i class="fa fa-leaf"></i></p>
            <p> We ensure you are connected to the future with just a click.<br> Shop with us to stay connected.</p>
            </div>
            <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
            </ul>
            </div>
             <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
                <li>Facebook</li>
                <li>X</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
            </div>
            
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Lenny B</p>
        
    
    </div>
</section>
</body>
</html>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    